<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sophist_unsplash.dao.mapper.SearchUnsplashUserMapper">
    <insert id="insertUnsplashUser" parameterType="com.example.sophist_unsplash.bean.UnsplashUser">
        INSERT INTO unsplash_operate_info.search_unsplash_user(id, user_name, name, portfolio_url, bio, location, total_likes, total_photos, unsplash_user_key)
        VALUE (#{id}, #{username}, #{name}, #{portfolioUrl}, #{bio}, #{location}, #{totalLikes}, #{totalPhotos}, #{unsplashUserKey})
    </insert>
    <select id="selectAllUnsplashUser" resultType="com.example.sophist_unsplash.bean.UnsplashUser">
        SELECT * FROM unsplash_operate_info.search_unsplash_user
    </select>
</mapper>