<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sophist_unsplash.mapper.SearchUnsplashUserMapper">
    <select id="selectAllUnsplashUser" resultType="com.example.sophist_unsplash.bean.UnsplashUser">
        SELECT * FROM unsplash_operate_info.search_unsplash_links
    </select>
</mapper>